@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "zentry";
    src: url("/font/zentry-regular.woff2") format("woff2");
  }

  h1 {
    font-family: "zentry", sans-serif;
  }
}
